
<h1>
  Shelf Bag Counter
</h1>

<div class="shelf" *ngFor="let shelf of shelves">
  <div>
    <div class="device">
      <label>Shelf Id</label><span>{{shelf.device}}</span>
    </div>
    <div class="stats">
      <label>Shelf Capacity: </label><span id="capacity">{{shelf.capacity}}</span>
      <label>Package Depth: </label><span id="depth">{{shelf.packageDepth}}</span>
      <label>Packages on Shelf: </label><span id="onShelf">{{shelf.onShelf}}</span>
    </div>
    <div class="package" *ngFor="let item of shelf.capacityAsArray(); let i = index">
      <img *ngIf="i < shelf.onShelf" src="../assets/images/fritos.jpg" />
    </div>
  </div>
  <br clear="all"/>
</div>

