div.shelf {
  display: block;
}
div.shelf label { margin-right: 20px; }
div.shelf span { font-weight: bold; margin-right: 25px; }

div.device { font-size: 30px; }
div.device span { font-weight: bold; }

div.stats { font-size: 24px; }
div.stats span {font-weight: bold; }

div.package { float: left; height: 135px; width: 93px; border: 1px solid #6d6d6d; margin: 0 3px 3px; }
div.package img { width: 91px; }
